// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Green
$orangeColor: #FF8B5F;
$purpleColor: #45456B;
$greenColor: #0E7C7B;
$black: #000000;
$lightBlueFont: #E9F1F7;

//Palette Background
$orangeBg: #FF8B5F;
$purpleBg: #45456B;
$greenBg: #0E7C7B;
$blueGreyBg: #B8C5D6;
$lightBlueBg: #E9F1F7;