.about {
  padding: 20px 0;
  @include flexElement(column, center, center);
  align-content: center;
  background-color: $lightBlueBg;
  text-align: center;

  @include desktop {
    @include flexElement(row, center, center);
  }

  &__element1 {
    img {
      background-color: $blueGreyBg;
      width: 80%;
      border-radius: 50%;
      margin: 10px auto;
      @include desktop {
        width: 60%;
      }

      @include tablet {
        width: 60%;
      }
    }
  }
  &__element2 {
    p {
      font-size: 20px;
      margin: 3px 0;
      color: $black;
      @include desktop {
        text-align: left;
      }
    }

    h2 {
      font-size: 30px;
      @include desktop {
        text-align: left;
      }
    }

    a {
      text-decoration: none;
      color: $greenColor;
    }
  }
}
