.contact {
  padding: 30px 0;
  @include flexElement(row, center, center);
  align-content: center;
  background-color: $lightBlueBg;
  text-align: center;

  p {
    font-size: 20px;
    margin: 3px 0;
    color: $black;
    @include desktop {
      text-align: left;
    }
  }

  h3 {
    font-size: 26px;
    margin: 10spx 0;
    color: $black;
    @include desktop {
      text-align: left;
    }
  }
}
