.home {
  padding: 20px 20px;
  background-color: $orangeBg;
  background-image: url("../assets/fondo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  height: 80vh;
  align-content: flex-end;
  @include flexElement(row, center, flex-end);

  @include desktop {
    font-size: 5rem;
    height: 100vh;
    background-position: right;
    background-size: initial;
    @include flexElement(row, flex-start, center);
    align-content: center;
  }
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: $purpleColor;
    font-weight: bold;
    text-align: center;
    max-width: 100%;

    @include desktop {
      font-size: 5rem;
      max-width: 50%;
    }
  }
}
