.proyects {
  padding: 30px 0;
  background-color: $blueGreyBg;
  .proyect {
    @include flexElement(row, space-around, flex-start);
    align-content: center;

    &__element {
      position: relative;
      @include flexElement(column, space-between, center);
      align-content: center;
      background-color: $lightBlueBg;
      padding: 15px;
      max-width: 350px;
      height: 440px;
      margin: 10px;
      img {
        width: 100%;
        max-width: 350px;
      }

      &--title {
        font-size: 3rem;
        text-transform: uppercase;
        color: $purpleColor;
        font-weight: bold;
        margin: 10px;
      }
      &--description {
        font-size: 20px;
        color: $black;
        text-align: center;
        margin: 10px;
      }

      a {
        position: relative;
        margin: 20px auto;
        background-color: $purpleBg;
        color: $lightBlueFont;
        font-size: 16px;
        font-weight: bold;
        width: 200px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}
