.skills {
  padding: 30px 10px;
  background-color: $greenBg;
  text-align:center;
  color: $lightBlueBg;

  &__element {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    background-color: $lightBlueBg;

    &--div1 {
      background-image: url("../assets/html5.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      grid-area: 1 / 1  / 1 / 1;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }

    }

    &--div2 {
      background-image: url("../assets/css.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 3 / 1  / 3 / 1;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }

    &--div3 {
      background-image: url("../assets/js.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 1 / 3  / 1 / 4;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }

    &--div4 {
      background-image: url("../assets/git.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 2 / 4 / 2 / 4;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }

    &--div5 {
      background-image: url("../assets/mongo.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;      
      grid-area: 2 / 3  / 2 / 3;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }
    

    &--div6 {
      background-image: url("../assets/angular.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 2 / 2  / 2 / 2;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }
    

    &--div7 {
      background-image: url("../assets/react.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 3 / 4  / 3 / 4;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }
    

    &--div8 {
      background-image: url("../assets/node.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 4 / 2  / 4 / 2;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }
    

    &--div9 {
      background-image: url("../assets/php.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 3 / 3  / 3 / 3;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    
    }

    &--div10 {
      background-image: url("../assets/docker.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 4 / 4  / 4 / 4;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }

    &--div11 {
      background-image: url("../assets/sql.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      grid-area: 4 / 1  / 4 / 1;
      width: 50px;
      height: 50px;
      margin: 3px;
      @include desktop {
          width: 80px;
          height: 80px;
          margin:10px;
        }
    }
  }
}
