@charset 'utf-8';

//utilities
@import "./utilities/colors";
@import "./utilities/mixins";
@import "./utilities/responsive";

//block - layouts
@import "./block/grid";

//base
@import "./base/typo";
@import "./base/reset";
@import "./base/normalize";

//Propios
@import "./block/header";
@import "./block/contact";
@import "./block/about";
@import "./block/footer";
@import "./block/home";
@import "./block/proyect";
@import "./block/skills";
